/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #ccc;
}

.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-description {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.question-container {
  margin-bottom: 20px;
}

.question {
  margin-bottom: 10px;
  position: relative; /* Ensure relative positioning for line */
}

.question::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust as needed */
  width: calc(100% - 10px); /* Adjust width minus padding */
  height: 2px; /* Line height */
  background-color: #3498db; /* Faint colored line */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.options {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50; /* Green */
  color: #fff;
  border: none;
  padding: 20px 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 12px;
  display: flex; /* Ensure contents align properly */
  justify-content: center; /* Center align content */
  align-items: center; /* Center align content */
}

/* .dark-mode-toggle span {
  margin: 0 5px; /* Adjust spacing between D & M */
} */

.dark-mode-toggle:hover {
  background-color: #45a049; /* Darker Green */
}

.submit-button {
  background-color: #4CAF50; /* Green */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049; /* Darker Green */
}

/* Dark mode specific styles */
.dark-mode .form-container {
  background-color: #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-mode .form-title,
.dark-mode .form-description,
.dark-mode .question,
.dark-mode .options label {
  color: #ccc;
}

.dark-mode .submit-button,
.dark-mode .dark-mode-toggle {
  background-color: #3498db; /* Cyan */
  color: #fff;
}

.dark-mode .submit-button:hover,
.dark-mode .dark-mode-toggle:hover {
  background-color: #2980b9; /* Darker Cyan */
}

/* Responsive styles */
@media (max-width: 600px) {
  .form-container {
    margin: 10px;
    padding: 15px;
  }

  .dark-mode-toggle {
    padding: 8px 15px;
    font-size: 12px; /* Adjust font size */
  }

  .submit-button {
    padding: 8px 15px;
  }
}
