/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #ccc;
}

.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-description {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.question-container {
  margin-bottom: 20px;
}

.question {
  margin-bottom: 10px;
}

.options {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db; /* Cyan */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode-toggle:hover {
  background-color: #2980b9; /* Darker Cyan */
}

.submit-button {
  background-color: #4CAF50; /* Green */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049; /* Darker Green */
}

/* Dark mode specific styles */
.dark-mode .form-container {
  background-color: #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-mode .form-title,
.dark
